/* celulares  */
@media(max-width:450px) {
    nav {
        padding-left: 6%;
        padding-right: 6%;

    }

    nav h2 {
        font-size: 1.4em;
    }

    nav .titulo {
        margin-left: 0;
        font-size: 1em;
    }

    nav .mobile-menu {
        display: block;

    }

    /*Media para a parte da apresentação*/
    .texto-principal p {
        font-size: 1.2em;
    }


    #foto-minha {
        width: 130px;
        height: 200px;

    }

    .foto {
        margin-right: 10%;
    }

    .conteudo-principal {
        gap: 0;
        width: 110%;
        flex-wrap: wrap-reverse;
        justify-content: center;

    }

    #logo-github {
        width: 50px;
    }

    #logo-linkedin {
        width: 50px;
    }

    #foto-minha {
        margin-top: -1em;
    }

    .container {
        width: 70%;
    }

    .texto-principal #titulo-apresentacao {
        font-size: 2em;
    }

    /*Media para a parte sobre */
    .sobre #titulo-mais-info {
        font-size: 2em;
    }

    .sobre h2 {
        font-size: 1.7em;
    }

    .sobre {
        margin-top: 0;
    }

    .sobre {
        width: 110%;
        gap: 30%;


    }
    
    .meus-projetos{
        width: 110%;
        
    }

}


/* Tablet*/

@media(max-width:1024px) {
    section .nav-list {
        display: none;
    }


    /*Apresentação*/
    .conteudo-principal {
        gap: 0;
        width: 110%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .container p {
        font-size: 1.3em;
    }

    /*Sobre*/
    .sobre #titulo-mais-info {
        font-size: 2.5em;

    }


    .meus-projetos{
        width: 120%;
        
    }




    /*Mobile*/
    .mobile-menu {
        display: block;

    }




}