/*################ Nav bar ################*/

header {
    display: flex;
    margin-top: 0.8em;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 1.4em;
    box-shadow: 6px 10px 18px #daa520;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0.8rem 2em 0.8rem 1.95em;

}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.nav-list {
    gap: 2em;
    list-style: none;
    display: flex;
    margin-left: 7em;

}

.nav-list li {
    letter-spacing: 6px;
}

nav .titulo{
    margin-left: 4em;
}

.nav-list{
    margin-right: 10em;
}



.titulo {
    font-size: 1.2em;
    text-shadow: 2px 1px 5px #daa520;
}

#links {
    display: flex;
    justify-content: space-between;
    gap: 15em;
    font-size: 1.3rem;
}

a {
    text-shadow: 2px 1px 5px #daa520;
    color: white;
    text-decoration: none;

}

.nav-efeito{
    visibility: hidden;
}